version: '3.4'

services:
###> doctrine/doctrine-bundle ###
  mailer:
    image: axllent/mailpit
    ports:
      - "1025"
      - "8025:8025"
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - symfony
  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: app
      # Mise à jour avec les valeurs
      POSTGRES_PASSWORD: SuperSecret!2025
      POSTGRES_USER: zenivia_user
    healthcheck:
      # Utilise les identifiants si ils sont passés en variables d'environnement, sinon ceux par défaut
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-zenivia_user}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
    # Déclare le réseau
    networks:
      - symfony
###< doctrine/doctrine-bundle ###

# Service PHP-FPM
  php:
    build:
      context: .  # <--- CHANGEMENT ICI : On pointe vers la racine du projet
      dockerfile: docker/php/Dockerfile # <--- AJOUT ICI : On précise où est le fichier
      target: app_php
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/srv/app:rw,cached
      # On garde les autres volumes pour la performance, c'est ok
      - ./vendor:/srv/app/vendor:rw
      - ./var:/srv/app/var:rw
    networks:
      - symfony
    restart: unless-stopped

  # Service Caddy (Web Server) : Expose l'application au monde extérieur
  caddy:
    image: caddy:2.7-alpine
    depends_on:
      - php
    volumes:
      # LIGNE CORRIGÉE : Monte le Caddyfile personnalisé pour configurer Symfony
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro 
      - ./public:/srv/app/public:ro # Le dossier public de Symfony
      - caddy_data:/data
    environment:
      # Pointez Caddy vers le service PHP
      MERCURE_PUBLISH_URL: http://php:8000/.well-known/mercure
    ports:
      # L'API sera accessible sur http://localhost:80
      - '80:80' 
    # Déclare le réseau
    networks:
      - symfony
    restart: unless-stopped

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
  # Volumes supplémentaires
  caddy_data:
  
networks:
  symfony: